%html
  %title Directory
  %head
    %script{ src: '/public/scripts/jquery-1.4.2.min.js', type: 'text/javascript' }
    %script{ src: '/public/scripts/test.js', type: 'text/javascript' }
  %body!= body